In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [12]:
economic_freedom_file = "Resources/economic_freedom.csv"
economic_freedom_df = pd.read_csv(economic_freedom_file, encoding='ISO-8859-1')
economic_freedom_df

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.60,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.00,3.9,2.5,"$12,507",13.9,2.0,"1,119.10",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.90,2.0,3.1,"$15,237",10,5.6,"1,203.00",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.30,0.7,2.9,"$6,753",8.2,31.7,"-2,254.50",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.20,2.9,0.7,"$20,876",8.7,25.7,"11,857.00",52.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,179,Venezuela,Venezuela,Americas,179.0,32.0,25.9,7.6,13.1,7.9,...,Venezuela,31.4,$380.70,-14.0,-7.8,"$12,114",7.7,1087.5,-68,34.9
182,180,Vietnam,Vietnam,Asia-Pacific,128.0,30.0,55.3,49.8,40.3,34.0,...,Vietnam,93.6,$647.40,6.8,6.2,"$6,913",2.1,3.5,"14,100.00",58.2
183,181,Yemen,Yemen,Middle East and North Africa,NaN,NaN,NaN,19.6,22.2,20.3,...,Yemen,30,$38.60,-13.8,-16.1,"$1,287",14,4.9,-269.9,141.0
184,182,Zambia,Zambia,Sub-Saharan Africa,138.0,27.0,53.6,45.0,35.6,32.3,...,Zambia,17.2,$68.90,3.6,4.0,"$3,996",7.8,6.6,"1,091.20",62.2
185,183,Zimbabwe,Zimbabwe,Sub-Saharan Africa,175.0,45.0,40.4,29.7,24.8,15.8,...,Zimbabwe,14.9,$34.00,3.0,2.6,"$2,283",5,1.3,289.4,78.4

In [22]:
economic_freedom_cols = ['Country Name', '2019 Score', 'Property Rights', 'Judical Effectiveness', 'Government Integrity', 'Population (Millions)', 'GDP Growth Rate (%)', 'GDP per Capita (PPP)', 'Unemployment (%)', 'Inflation (%)']
economic_freedom_cols

new_economic_df = economic_freedom_df[economic_freedom_cols].copy()
new_economic_df

,Country Name,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,Population (Millions),GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%)
0,Afghanistan,51.5,19.6,29.6,25.2,35.5,2.5,"$1,958",8.8,5.0
1,Albania,66.5,54.8,30.6,40.4,2.9,3.9,"$12,507",13.9,2.0
2,Algeria,46.2,31.6,36.2,28.9,41.5,2.0,"$15,237",10,5.6
3,Angola,50.6,35.9,26.6,20.5,28.2,0.7,"$6,753",8.2,31.7
4,Argentina,52.2,47.8,44.5,33.5,44.1,2.9,"$20,876",8.7,25.7
...,...,...,...,...,...,...,...,...,...,...
181,Venezuela,25.9,7.6,13.1,7.9,31.4,-14.0,"$12,114",7.7,1087.5
182,Vietnam,55.3,49.8,40.3,34.0,93.6,6.8,"$6,913",2.1,3.5
183,Yemen,NaN,19.6,22.2,20.3,30,-13.8,"$1,287",14,4.9
184,Zambia,53.6,45.0,35.6,32.3,17.2,3.6,"$3,996",7.8,6.6
185,Zimbabwe,40.4,29.7,24.8,15.8,14.9,3.0,"$2,283",5,1.3

In [3]:
world_happiness_file = "Resources/world_happiness.csv"
world_happiness_df = pd.read_csv(world_happiness_file)
world_happiness_df

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,0.115183,3.701658,3.250141,6.625160,0.319460,45.200001,0.640881,0.082410,0.891807,1.972317,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265,2.860198
149,Rwanda,Sub-Saharan Africa,3.3123,0.052425,3.415053,3.209547,7.600104,0.540835,61.098846,0.900589,0.055484,0.183541,1.972317,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542,0.548445
150,Zimbabwe,Sub-Saharan Africa,3.2992,0.058674,3.414202,3.184198,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237,1.972317,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,0.841031
151,South Sudan,Sub-Saharan Africa,2.8166,0.107610,3.027516,2.605684,7.425360,0.553707,51.000000,0.451314,0.016519,0.763417,1.972317,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157,1.378751
152,Afghanistan,South Asia,2.5669,0.031311,2.628270,2.505530,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,1.972317,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,1.507236

In [18]:
world_happiness_cols = ['Country name','Ladder score', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']
world_happiness_cols

new_happiness_df = world_happiness_df[world_happiness_cols].copy()
new_happiness_df

,Country name,Ladder score,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.8087,0.954330,71.900825,0.949172,-0.059482,0.195445
1,Denmark,7.6456,0.955991,72.402504,0.951444,0.066202,0.168489
2,Switzerland,7.5599,0.942847,74.102448,0.921337,0.105911,0.303728
3,Iceland,7.5045,0.974670,73.000000,0.948892,0.246944,0.711710
4,Norway,7.4880,0.952487,73.200783,0.955750,0.134533,0.263218
...,...,...,...,...,...,...,...
148,Central African Republic,3.4759,0.319460,45.200001,0.640881,0.082410,0.891807
149,Rwanda,3.3123,0.540835,61.098846,0.900589,0.055484,0.183541
150,Zimbabwe,3.2992,0.763093,55.617260,0.711458,-0.072064,0.810237
151,South Sudan,2.8166,0.553707,51.000000,0.451314,0.016519,0.763417
152,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687

In [19]:
column_map = {'Country name': 'Country_Name', 'Ladder score': 'Ladder_Score', 'Social support': 'Social_Support', 'Healthy life expectancy': 'Healthy_Life_Expectancy', 'Freedom to make life choices': 'Freedom_Choices', 'Perceptions of corruption': 'Perceptions_Corruption'}
happiness_df_new = new_happiness_df.rename( columns = column_map )
happiness_df_new.head()

,Country_Name,Ladder_Score,Social_Support,Healthy_Life_Expectancy,Freedom_Choices,Generosity,Perceptions_Corruption
0,Finland,7.8087,0.954330,71.900825,0.949172,-0.059482,0.195445
1,Denmark,7.6456,0.955991,72.402504,0.951444,0.066202,0.168489
2,Switzerland,7.5599,0.942847,74.102448,0.921337,0.105911,0.303728
3,Iceland,7.5045,0.974670,73.000000,0.948892,0.246944,0.711710
4,Norway,7.4880,0.952487,73.200783,0.955750,0.134533,0.263218

In [ ]:
connection_string = "postgres:postgres@localhost:5432/world_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

In [ ]:
economics_transformed.to_sql(name='economics', con=engine, if_exists='append', index=True)

In [ ]:
happiness_transformed.to_sql(name='happiness', con=engine, if_exists='append', index=True)